.imgcarouselplaceholder {
    width: 101%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption {
    margin-left: -10%;
    margin-bottom: 3%;
}

#caption-on-carousel h2 {
    font-size: 32px;
}

#caption-on-carousel p {
    font-size: 18px;
}

.isiKonsul img,
.isiKonsul h3,
.isiKonsul p,
.isiKonsul button {
    margin-top: 10px;
}

.below-carousel {
    padding: 0 5%;
}

/* Content */
/* Isi konten untuk page Home.html */
.content-home {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    min-height: 100vhpx;
    padding-bottom: 40px;
}

.isiKonsul p {
    font-size: 16px;
}

.isiKonsul h3 {
    font-size: 23px;
    font-weight: 600;
}

.isiKonsul img {
    width: 230px;
    height: 230px;
    transform: translateX(15%);
    object-fit: cover;
}

.isiKonsul {
}

/* Mobile Screen */
@media (min-width: 400px) and (max-width: 599px) {
    .content-home {
        width: 100%;
    }
    .imgcarouselplaceholder {
        height: 220px;
    }
    .carousel {
        top: -5px;
    }
    .carousel-inner h2 {
        font-size: 130%;
        font-weight: 700;
    }
    .carousel-inner p {
        font-size: 7.5pt;
    }
    .carousel-indicators {
        opacity: 0;
        pointer-events: none;
    }
    #caption-on-carousel {
        transform: translateY(1.8rem);
    }
    #caption-on-carousel h2 {
        font-size: 25px;
    }
    #caption-on-carousel p {
        font-size: 14px;
    }
    .isiKonsul button {
        font-size: small;
    }
    .isiKonsul p {
        font-size: 12px;
    }
    .isiKonsul h3 {
        font-size: 19px;
    }
    .isiKonsul img {
        width: 100px;
        height: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 600px) and (max-width: 799px) {
    .content-home {
        width: 90%;
    }
    .imgcarouselplaceholder {
        height: 320px;
    }
    .carousel-inner h2 {
        font-size: 21pt;
        font-weight: 700;
    }
    .carousel-inner p {
        font-size: 9pt;
    }
    .carousel-indicators {
        opacity: 0;
        pointer-events: none;
    }
    #caption-on-carousel {
        transform: translateY(2.8rem);
    }
    #caption-on-carousel h2 {
        font-size: 29px;
    }
    #caption-on-carousel p {
        font-size: 16px;
    }
    .isiKonsul p {
        font-size: 12px;
    }
    .isiKonsul h3 {
        font-size: 19px;
    }
    .isiKonsul img {
        width: 150px;
        height: 150px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 800px) and (max-width: 1279px) {
    .content-home {
        width: 85%;
    }
    .carousel-inner h2 {
        font-size: 28.5pt;
        font-weight: 700;
    }
    .carousel-inner p {
        font-size: 12pt;
    }
    .carousel-indicators {
        opacity: 0;
        pointer-events: none;
    }
    #caption-on-carousel {
        transform: translateY(2.8rem);
    }
    .isiKonsul p {
        font-size: 12px;
    }
    .isiKonsul h3 {
        font-size: 19px;
    }
    .isiKonsul img {
        width: 180px;
        height: 180px;
    }
}

@media (min-width: 1280px) {
    .content-home {
        width: 80%;
    }
    .carousel-inner h2 {
        font-size: 33pt;
        font-weight: 700;
    }
    .carousel-inner p {
        font-size: 15pt;
    }
    .carousel-indicators {
        z-index: 10;
        transform: translateY(-10px);
    }
    #caption-on-carousel {
        transform: translateY(1rem);
    }
}
