.container-crud {
    padding: 30px 2%;
    width: 80%;
    min-height: 90vh;
    margin: auto;
    background-color: #fff;
}

@media (min-width: 400px) and (max-width: 599px) {
    .container-crud {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .container-crud {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 800px) and (max-width: 1279px) {
    .container-crud {
        width: 85%;
    }
}
